.items_h{
    display: grid;
    grid-template-columns: auto  ;
}
.item_h{
    border: 2px solid white;
}
.duree{
    background-color: cornsilk;
    float: left;
    height: 50px;
    
}

.munite{
    font-size: 16px;
    margin-right:2px;
}

.sub_munite{
    font-size: 16px;
    margin-right:55px;
}

.my_table{
    /* background-color: whitesmoke;
    padding: 50px; */

}

.detail_docteur{
    display: grid;
    grid-template-columns:auto auto ;
    background-color: rgba(65, 16, 16, 0.452);
    border-radius: 0 10% 0 0;
}

.detail_docteur > h4{
    gap: 5px 50px;
    padding: 2%;
    display:flex;
    justify-content: flex-start;
    
}

.container_calender_hour{
    width: 100%;
    margin:0 0 0 5%;
}
.my_table_thead{
    background-color: brown;
}
.time{
    float: left;
    width: 50px;
    margin-left: -22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    margin-top: 25px;
    
}


.line_{
    margin-top: 15%;
    background-color: rgba(246, 252, 246, 0.932);
    margin-bottom: 15%;
}

.refresh_hours{
    background: transparent;
    border: none;
    color: rgb(24, 102, 63);
    letter-spacing: 3px;
    font-style: oblique;
    
}