.container_{
    background-color: white;
    border: 2px  ridge black;
    width: 65%;
    height: 100%;
    
}

.tabs{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 5px;
    margin: 1px;
}


.tab {
    width: 60px;
    height: 60px;
}


.calender_year{
    margin: 2px;
}

.calender_year{
}

.container_calender{
    margin-top: 1%;
    border: 6px ridge goldenrod;
    background-color: lightgoldenrodyellow;
    margin-left: 3%;

}