.item{
    padding:5px 5px 5px 0;
    width: 200pt;
    
}

.item:hover{
    background-color: goldenrod;
    border: 4px ridge gold;
}

.container_items{
    background-color: aliceblue;
    margin-right: 1%;
    height: 540px;
}