.container__{
  background-color: rgba(0, 0, 0, 0.301);
  animation: colorChange 5s infinite alternate;
  padding: 1%;
  border-radius: 4%;
}



.container{
    background-color: transparent;
    width: 60%;
    border-radius: 15% ;
    margin-top: 3%;
    padding: 2%;
}

/* input{
    font-size: 16px;
    width: 60%;
    padding: 1%;
    margin: 2%;
} */



  .container{
    background-color: transparent;
    width: 60%;
}

/* input{
    font-size: 16px;
    width: 40%;
    padding: 1%;
    margin: 2%;
} */


.btn{
    border:4px ridge whitesmoke;
    background-color : darkslategrey;
    color: whitesmoke;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0 30% 0 15%;
  }
i{
  margin-left: 20%;

}
  .input_{
    width: 40%;
    border: none;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .login_page{
    padding: 2%;
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  .radio_fields{
    display: grid;
    grid-template-columns: repeat(6,70px);
    margin-left: 360px;
    font-size: large;
    color: papayawhip;
    margin-bottom: 30px;
  }

  .user_role_fenetre{
    border: 8px ridge rgb(63, 150, 190,80%);
    background-color: rgb(175, 209, 243,40%);
    border-radius: 10%;
    box-shadow: 0 0 5px 8px rgb(23, 38, 104,80%);
    margin: 0 20% 0 20%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    padding: 2%;
    margin: 2%;
    width: 50vw;
    margin-left: 300px;

  }

  select{
    font-size: 20px;
    margin: 1%;
  }

  .button_valide{
    font-size: 16px;
    height: 40px;
    width: 100px;
    background-color: #4CAF50;
    color: aliceblue;
    border: 3px ridge white;
    box-shadow: 0 0 0 3px #4CAF50;
    border-radius:  15px 0 15px 0;
    margin-top: 3px;
  }


  .btn_{
    border:4px ridge whitesmoke;
    background-color : #bbb;
    color: whitesmoke;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius:10%;
    float: left;
    width: 25vw;
  }
  .input_text_{
    width: 25vw;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
  }


  .form-gr > label:nth-child(even){
    margin-left: 18px;
  }

  .formulaire_{
    background-color: #fdfeff;
    width: 60vw;
    
    margin-left: 1vw;
    padding: 2vw 2vw 5vw 2vw;
    justify-content: center;
  }


  .title_text{
    color: rgb(34, 138, 230);
  
  }

  .image_card_{
    
  }


  label{
    display: flex;
    justify-content: flex-start;
    font-size: 16;
    font-style: oblique;
    font-weight: 800;
    padding: 1% 0 0 1%;

  }

  .form-gr{
    display: grid;
    grid-template-columns: auto auto;
  }

  .form-gr-1 > select{
    display: grid;
    grid-template-columns: auto ;
    width: 95%;
  }



 