.gere_secretaire_container{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;

}

.gere_secretaire_title{

}

.gere_secretaire_card_m{
    background-color: rgb(211, 253, 162);
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.gere_secretaire_card_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(44, 60, 104);
}

.gere_secretaire_card_text{
    color: darkolivegreen;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.gere_secretaire_card_text > *{
    margin-right: 15%;

}

.gere_secretaire_card_button{
    font-size: 18px;
    letter-spacing: 2px; 
    padding: 3px;
    color: aliceblue;
    margin: 2px;
    border-radius: 10%;
}

.color_1{
    background-color: goldenrod;

}

.color_2{
    background-color: crimson;
}

.image_card_{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding: 2%;
    margin-bottom: 5%;
}

.search_nom{
    width: 40%;
    font-size: x-large;
    color: navy;
    margin:0 0  0 0;
    border-radius: 10%;

}
.search_nom:focus{
    background-color: rgb(1, 47, 78);
    color: aliceblue;
}

.container_search{
    width: 100vw;
    padding: 2%;
    margin: 0 0 0 0;
    border: 10px solid rgb(1, 1, 34);
    box-shadow: 1px 1px 1px 30px rgba(0, 0, 22, 0.918);
    background-color: rgb(1, 1, 34);
}

.ajouter_{
    color: rgb(131, 139, 6);
    background-color: transparent;
    font-size: 25px;
    float: right;
    letter-spacing: 3px;
    font-style: oblique;
    border: none;
}