.all_med_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(184, 184, 255);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 1.3rem;
}
.all_med_title::first-letter{
    font-size: 1.9rem;
    color: rgb(184, 184, 255);
    text-shadow: 3px 2px 3px rgb(255, 173, 22);
    width: 150px;

}

.all_med_title_{
    font-size: 1.3rem;
    color: rgb(184, 184, 255);
}
.date_{
    background-color: deepskyblue;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    padding: 15px;
    border-radius: 0 25% 0 25%;
    border: 3px ridge #8b0000;
    margin-bottom: 45px;
}
.thead-dark > tr > td{
    padding: 2%;
}

.cards{
    display: grid;
    grid-template-columns: 28vw 33vw 28vw;
    gap: 10px 20px;
    margin-left: 20px;
    z-index: 1;
}

.card{
    width: auto;
    border-radius: 2% 1% 3% 14%;
    border-top: 6px solid #e0e0e0;
    border-right: 6px solid #e0e0e0;

}

.card > img{
    border-radius: 2% 1% 3% 24%;
}

.search_cards{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.search_panel{
    font-size: large;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1%;
}
.search_panel:focus{
    background-color: rgb(1, 34, 32);
    color: aliceblue;
}


.search_nom{
    width: 40%;
    font-size: x-large;
    color: navy;
    margin:0 0  0 0;
    border-radius: 10%;

}
.search_nom:focus{
    background-color: rgb(1, 47, 78);
    color: aliceblue;
}

.container_search{
    width: 100vw;
    padding: 2%;
    margin: 0 0 0 0;
    border: 10px solid rgb(1, 1, 34);
    box-shadow: 1px 1px 1px 30px rgba(0, 0, 22, 0.918);
    background-color: rgb(1, 1, 34);
}
