.menu_login{
  height: 100%;
  z-index: 5;

}

.login-container{
  display: flex;
  justify-content: center;
  background-color: rgba(10, 44, 73, 0.747);
  width: 80vw;
  height: 60vh;

}

.menu_login{
  display: grid;
  grid-template-columns: auto;

}

.input__{
  width: 40vw;
  font-size: x-large;
  margin: 2px;
  padding: 5px;
}

.item_login{
  width: 60vw;
}

.btn__{
  background-color: rgb(10, 11, 66);
  padding: 5px 25px 5px 25px;
  font-size: x-large;
  display: flex;
  justify-content: flex-start;
  border: none;
  letter-spacing: 5px;
  font-style: oblique;
  margin-left: 15vw;
  color: beige;
}

.login_page__{
  color: rgb(32, 46, 7);
  font-size: xx-large;
  letter-spacing: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  text-decoration: underline dotted 32px rgba(46, 1, 1, 0.048);
  transform: rotate(0.7deg);
  padding: 12px;
}


.container___{
  background-color: rgba(136, 79, 25, 0.507);
  padding: 1%;
  width: 100vw;
  height: 120vh;
  z-index: 0;
  transform: rotate(60deg);
  border-radius: 4%;
  position: absolute;
}