.cabinet__image{
}


.input___{
  width: 37vw;
  font-size: 20px;
  height: 4vw;
  margin: 1%;
  border: none;
  background-color: white;
}

.login_container_item{
  background-color: white;
  width: 50vw;
  padding: 5%;
  margin-left: 10%;
  
}

.item_login{
  background-color: white;
  border: 0.1px solid black ;
  display: grid;
  grid-template-columns: 4vw 10vw;
  align-items: baseline;
  margin: 1%;
}

.btn__{
  display: flex;
  width: 42vw;
  justify-content: center;
  font-size: x-large;
  background-color: navy;
  color: white;
  margin-top: 2%;
  margin-left: 1%;
  padding: 1%;

}

.login_page__{
  margin-bottom: 3%;
}

.image_login{
  margin: 10% 0 2% -10%;
}

.login_container_{

}