.nav_bar{
    background-color: lightskyblue;
}

.log_out:hover{
    border:none;
    background-color: burlywood;
}

.log_out{
    background-color: lightskyblue;
    border: none;
    font-family: bold;
    font-size: 24px;
}


.email_{
    color: whitesmoke;
    font-size: large;
    text-shadow: 2px 2px 2px royalblue;
}