.navbar{
  background-color: rgb(2, 83, 138);
  display: grid;
  grid-template-columns: auto;
  width: 18vw;
  height: 100vh;
  justify-content: start;
  align-items: baseline;

}


.logo_{
  border-radius: 50%;
  margin-left: -15%;
  padding: 2%;
  border: 2px solid white;
}




.navbar_part_2{
  display: flex;
  justify-content: flex-start;

}

.navbar_part_2_{


}

.navbar_part_2_1{


}
.navbar_part_2_2{


}

.btn-design{
  border: none;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: transparent;
  margin: 3% 0 3% 0;
  font-size: 18px;
  color: white;
  width: 15vw;
  align-items: baseline;
  /* background-color: rgb(49, 125, 192); */
  padding: 1% 0 1% 0;

}

.btn-design:visited{
  background-color: red;
}

.email-design{
  border: none;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border-bottom: 3px solid white;
  color: white;
  font-size: 18px;
  margin: 4% 0 8% 0;
}


.icon_{
  margin-left: -3%;
  margin-right: 5%;
}

ul{
  list-style: none;
}


.link_{

}

.link_:hover{
}

.item{


}
.border-0 > img{

}
.item:hover{

}



.container_items{

}

.container_items:hover{

}


.dropdown{
}

.dropdown:hover >  table{

}

@keyframes animdropdown{
  from {background-color: yellow;}
  from {background-color: rgb(255, 115, 0);}

}


.dropdown > table{

}


.dropdown_{
}

.display_item{

}
.display_item:hover{
}


.dropdown_{

}


.needtologin{

}

.navbar_admin{

}