.medecins_header{
    width: 100vw;
    margin-top: -2%;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

.search__{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    justify-content: baseline;
    width: 20vw;
    padding: 1%;
}

.search__input{
    width: 20vw;
    font-size: large;
    border: none;
}

.search__ > i{
    margin-top: 3%;
    margin-right: 1%;
    margin-left: -3%;
}

.display_list__{
    display: grid;
    grid-template-columns: auto auto;
}

.ordonnance_container{
    background-color: white;
    display: grid;
    grid-template-columns: 75vw;
    padding: 3%;
    margin-left: 2%;
    width: 70vw;
}

.ordonnance_item{
    width: 60vw;
    display: grid;
    grid-template-columns: 35vw 25vw;
    padding: 0.2%;
}


.ordonnance_text_input{
    font-size: large;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.ordonnance_medecin{
    display: flex;
    justify-content: flex-start;
}

.ordonnance_radio{
    display: grid;
    grid-template-columns: 5vw 10vw;
    height: 2vw;
    margin-top: 8%;
    padding: 1%;
}

.ordonnance_radio > .radio{
    width: 5vw;
    margin-top: 2%;
    padding: 2%;
    
}

.ordonnance_button{
    background-color: #bbb;
    margin-top: 2%;
    font-size: large;
    padding: 1%;
    color: white;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

.ordonnance_{
    display: flex;
    justify-content: flex-start;
    color: navy;
    margin-bottom: 5%;
}