.card_rdv{
    display: grid;
    grid-template-columns: auto;
    
}

.card_principal{
    width: 60%;
    display: grid;
    grid-template-columns: 5vw 15vw;
    background-color: rgb(240, 240, 240);
    margin: 2%;
    margin-right: 10vw;
    border-radius: 0 10%  0 0;
    margin-left: 20%;
    padding: 2%;

}

.title_title{
    float: left;
    margin-left: 25px;
    margin-right: 15px;

}

.title_content{
    text-align: left;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto;
}

.image_{
    padding: 6px;
    width: 250px;
    height: 300px;
}

.def_{
    display: grid;
grid-template-columns: repeat(3,30%);
color: aliceblue;
}

.def_ > h4{
    margin-top: 75px;
    letter-spacing: 3px;
}

.datepicker{
    width: 200px;
}

.image_card_rdv{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card_principal > div{
}