.fiche_card_container{
    border: 2px solid #f3ecec;
    background-color: rgb(141, 149, 167);
    width: 60vw;
    float: left;
    display: grid;
    grid-template-columns: 30% 80%;
    padding: 2%;
    margin: 1%;
}

.fiche_card_name{
    font-size: 28px;
    color: rgb(228, 228, 222);
    font-style: oblique;
    letter-spacing: 3px;
    padding: 2%;
}

.fiche_card_element{
    float: left;
    margin: 2px;
    padding: 2%;
    color: #dff3ef;
    font-size: 15px;
}

.fiche_card_image{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}

.fiche_card_container_sub{

}

.search_menu{
    display:flex;
    justify-content: center;
}

.search_nom_fc{
    font-size: large;
    color: navy;

}

.search_nom_fc:focus{
    background-color: rgb(1, 34, 32);
    color: aliceblue;
}

.button_supprimer{
    background-color: rgb(155, 94, 94);
    border: none;
    color: antiquewhite;
    padding: 10px;
    
}

.button_editer{
    background-color: rgb(100, 61, 84);
    border: none;
    color: antiquewhite;
    padding: 10px;
    
}

.search_nom{
    width: 40%;
    font-size: x-large;
    color: navy;
    margin:0 0  0 0;
    border-radius: 10%;

}
.search_nom:focus{
    background-color: rgb(1, 47, 78);
    color: aliceblue;
}

.container_search{
    width: 100vw;
    padding: 2%;
    margin: 0 0 0 0;
    border: 10px solid rgb(1, 1, 34);
    box-shadow: 1px 1px 1px 30px rgba(0, 0, 22, 0.918);
    background-color: rgb(1, 1, 34);
}


.fiche_pat_cards{
    display: grid;
    grid-template-columns: auto;
    margin-left: 15%;
}