.fiche_card_container{
    border: 5px solid #8b0000;
    background-color: rgb(1, 17, 31);
    width: 40%;
    float: left;
    padding: 2%;
    margin: 1%;
    border-radius: 2% 10% 10% 2%;
}

.fiche_card_name{
    font-size: 28px;
    color: rgb(173, 171, 21);
    font-style: oblique;
    letter-spacing: 3px;
    padding: 2%;
}

.fiche_card_element{
    float: left;
    margin: 2px;
    padding: 2%;
    color: #568b87;
    font-size: 15px;
}

.fiche_card_image{
    width: 100%;
    height: 200px;
    float: left;
    border-radius: 2% 2% 20% 20%;
}

.fiche_card_container_sub{

}

.search_menu{
    display:flex;
    justify-content: center;
}

.search_nom_fc{
    font-size: large;
    color: navy;

}

.search_nom_fc:focus{
    background-color: rgb(1, 34, 32);
    color: aliceblue;
}

.button_supprimer{
    background-color: transparent;
    border: none;
    color: antiquewhite;
    padding: 10px;
    box-shadow: 2px 2px 8px 5px rgb(75, 9, 9);
}