.design_picker{
    font-size: 28px;
}

.card_picker{
    background-color: rgb(250, 255, 255);
    display: grid;
    border: 4px ridge navy;
    border-radius: 0 0 25% 0;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: repeat(1,100%);
}

.card_picker > button{
    height: 50px;
    width: 100px;
    margin-left: 60px;
    margin: 40px;
}

.title_picker{
    color: rgb(241, 241, 11);
    font-size: 28px;
    letter-spacing: 4px;
    
    margin: 20px 20px 20px 70px;
    text-shadow: 2px  2px 2px  rgb(0, 128, 32);
}

.button_picker{
    color: beige;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 20px 20px 20px 70px;
    background-color: rgb(32, 4, 109);
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  