.design_picker{
    font-size: 28px;
}

.card_picker{
    background-color: rgb(250, 255, 255);
    display: grid;
    width: 68%;
    margin-left: 2%;
    grid-template-columns: repeat(1,100%);
}

.card_picker > button{
    height: 50px;
    width: 160px;
    margin-left: 15px;
    margin: 40px;
}

.title_picker{
    font-size: 18px;
    letter-spacing: 4px;
    
}

.button_picker{
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 4px;
    width: 30vw;
    margin: 20px 20px 20px 140px;
    background-color: #bbb;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  