.image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border: 4px solid white;
    box-shadow: 2px 1px 10px 8px rgb(15, 87, 87);
}

.title{
    font-size: 28px;
    color: rgb(77, 77, 0);
    letter-spacing: 5px;
    margin-left: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_content{
    font-size: 22px;
    font-style: oblique;
    letter-spacing: 2px;
    padding-bottom: 25px;
    color: rgb(172, 161, 7);
    

}

.text_title{
    font-size: 22px;
    font-style: oblique;
    letter-spacing: 4px;
    color: rgb(180, 168, 1);
    float: left;
    line-height: 10px;
    margin-left: 18px;
    margin-top: 20px;
    align-items: center;
    
}

.card_profile{
    background-color: rgb(1, 17, 31);
    display: grid;
    grid-template-columns: 20vw 60vw;
    height: 500px;
    border-radius:  0;
    padding: 25px 25px 25px 0;
}

.right_card{
    background-color: rgb(1, 62, 70);
    margin: 80px 0 0 10px;
    border-radius:  10% 5% 5% 10%;
}

.left_card{

}

.image_profile{
    width: 200px;
    height: 200px;
    margin:0 25px 0 0;
    border: 6px solid rgb(148, 61, 2);
    border-radius: 50%;
}

.item_profile{
    margin-top: 20px;
    line-height: 50px;
}