.image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border: 6px solid white;
    box-shadow: 2px 1px 10px 8px rgb(15, 87, 87);

}

.title{
    font-size: 28px;
    color: rgb(77, 77, 0);
    letter-spacing: 5px;
    margin-left: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_content{
    font-size: 16px;
    font-style: oblique;
    letter-spacing: 2px;
    padding-bottom: 25px;
    color: rgb(58, 54, 7);



}

.text_title{
    font-size: 16px;
    font-style: oblique;
    letter-spacing: 4px;
    color: rgb(58, 54, 7);
    float: left;
    font-weight: 900;
    line-height: 10px;
    margin-left: 18px;
    margin-top: 20px;
    align-items: center;
    
}

.card_profile{
    display: grid;
    grid-template-columns:  60vw;
    border-radius:  0;
    padding: 25px 25px 25px 0;
    margin-left: 12%;
    margin-top: 2%;
    background-color: transparent;


}

.right_card{
    margin: 0px 0 0 10px;
    background-color: white;
    box-shadow: 0  -50px 0 90px white;
    z-index: 0;

}

.left_card{
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.image_profile{
    width: 200px;
    height: 200px;
    margin:0 25px 0 0;
    border: 6px solid rgb(255, 254, 254);
    border-radius: 50%;
}

.item_profile{
    margin-top: 3px;
    width: 80%;
    line-height: 50px;
}

.title_item_profile{
    display: flex;
    justify-content: flex-start;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 900;
    margin-top: 2%;
    background-color: rgb(2, 83, 138);
    padding: 1%;
    width: 200px;
    color: white;
    box-sizing: content-box;
}